/* Файл со стилями пользователя загружается последним и может переопределить
   стили любых библиотек: */

/* Для всей страницы: */
body {
    /* Задание гарнитуры шрифта без засечек: */
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: black;
    background-color: white;
    /* Горизонтальное выравнивание текста (или строчных элементов): */
    text-align: center;
    /* Ограничение области просмотра по ширине: */
    min-width: 320px;
}

/* Ссылки (Links) */

/* Задание стилей ссылкам: */
a {
    color: black;
    transition: color 0.3s;
    text-decoration: none;
}

/* Задание стилей ссылкам при наведении: */
a:hover {
    color: #555555;
}

/* Заголовки (Headings) */

/* Задание насыщенности шрифта заголовков: */
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

/* Шрифт заголовков секций: */
.section-heading {
    line-height: 1.5;
    font-weight: 700;
}

/* Контейнеры (Containers) */

.container-fluid {
    /* Внутренние отступы в контейнере. Поскольку свойства margin и padding
       вложенного элемента, установленные в процентах, являются процентами
       от ширины родительского элемента, отступы сверху и снизу задаются
       в единицах, равных корневому (базовому) значению font-size: */
    padding: 5rem 14%;
}

/* Контейнер для отображения элементов в трехмерном пространстве: */
.container-3d {
    /* Установка глубины - расстояния, на которое элемент удаляется от точки
       обзора. Свойство определяет перспективу обзора элемента, создавая для
       пользователя иллюзию глубины. Чем больше значение, указанное для
       перспективы, тем дальше от пользователя расположен элемент. Значение
       перспективы устанавливается для вложенных (дочерних) элементов
       (находящихся под действием трехмерной трансформации), а не к самому
       элементу. */
    perspective: 2200px;
    /* Тип элемента - блочно-строчный. Его внутренняя часть форматируется
       как блочный элемент, а сам элемент - как строчный: */
    display: inline-block;
}

/* Кнопки (Buttons)
   Анимация кнопок: */

.btn-animated {
    transition: all 0.2s ease-in-out;
    position: relative;
    overflow: hidden;
}

.btn-animated::before {
    content: "";
    background-color: rgba(255, 255, 255, 0.5);
    height: 100%;
    width: 3em;
    /*3.7rem*/
    display: block;
    position: absolute;
    top: 0;
    left: -4.5em;
    /*-5.65rem*/
    transform: skewX(-45deg) translateX(0);
    transition: none;
}

.btn-animated:hover {
    /* background-color: #555555; */
    background-color: #454545;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
}

.btn-animated:hover:before {
    transform: skewX(-45deg) translateX(600%);
    transition: all 0.5s ease-in-out;
}

/* Кнопка закрытия модального окна: */
.btn-close:focus {
    box-shadow: 0 0 0 0.25rem rgb(255 255 255 / 35%)
}

/* Элементы формы */

.form-control:focus, .form-check-input:focus {
    border-color: #ff4c68;
    box-shadow: 0 0 0 0.25rem rgb(255 76 104 / 25%);
}

/* Флажок (чекбокс): */
.form-check-input:checked {
    background-color: #ff4c68;
    border-color: #ff4c68;
}

/* Разделы (Sections) */

/* Компенсация высоты шапки, скрывающей контент: */
main>section:first-of-type {
    margin-top: 95px;
}

/* Компенсация высоты подвала, скрывающего контент: */
main>section:last-of-type {
    margin-bottom: 95px;
}

/* Разделы с цветным фоном: */

.colored-section {
    background-color: #d02a5a;
    /* Варианты фонового цвета: */
    /* background-color: #c70039; */
    /* background-color: #fa1859; */
    /* background-color: #cd1a4d; */
    /* background: linear-gradient(to bottom, #cd1a4d, #c70039); */
    /* background: linear-gradient(to bottom, #cd1a4d, #d02a5a); */
    color: white;
}

/* Разделы с белым фоном: */

.white-section {
    background-color: white;
    color: black;
}

/* Шапка или заголовок (Header or Title Section) */

#title.colored-section {
    background: linear-gradient(to top, #c70039, #cd1a4d, #cd1a4d);
    /* background: linear-gradient(to top,#c70039, #cd1a4d, #c70039); */
}

#title .container-fluid {
    /* Внутренние отступы в контейнере внутри шапки. Поскольку свойства
       margin и padding вложенного элемента, установленные в процентах,
       являются процентами от ширины родительского элемента, отступы
       сверху и снизу задаются в единицах, равных корневому (базовому)
       значению font-size: */
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    /* Горизонтальное выравнивание текста (или строчных элементов): */
    text-align: left;
}

/* Навигационная панель (Navigation bar) */

.nav-item {
    /* Отступы между ссылками в меню по горизонтали увеличиваются: */
    padding: 0 12px;
}

/* Ссылки в меню: */
.nav-link {
    font-size: 1.2rem;
    font-weight: 400;
    text-transform: uppercase;
}

/* Подчеркивание под ссылками в левой части навигационной панели: */
.navbar-left .nav-link::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    margin-top: -0.24rem;
    background-color: rgba(255, 255, 255, .55);
    transition: transform 0.4s ease-out;
    /* По умолчанию подчеркивание сжато в точку: */
    transform: scale(0);
}

/* Подчеркивание раскрывается при наведении указателя мыши на ссылку: */
.navbar-left .nav-link:hover::after {
    transform: scale(0.98);
}

.navbar-nav .dropdown-menu {
    /* Позиционирование выпадающего списка слева
       от вызывающей его иконки: */
    right: 0;
    left: auto;
    /* Уменьшение минимальной ширины выпадающего списка: */
    min-width: 6rem;
}

/* Фон выбранного элемента в выпадающем списке: */
.dropdown-item:focus, .dropdown-item:hover {
    background-color: #f2f2f2;
}

/* Модальное окно корзины (Modal Cart) */

#modal-cart .modal-title {
    margin-left: 1rem;
}

#modal-cart .modal-body {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
}

/* Оформление первой и последней строк таблицы товаров: */
#modal-cart table>:not(caption) tr:first-child, #modal-cart table>:not(caption) tr:last-child>td {
    border-bottom-width: 0;
    font-weight: 600;
    padding-bottom: 1rem;
}

/* Размер шрифта в последней строке таблицы товаров: */
#modal-cart table>:not(caption) tr:last-child {
    font-size: 1.1rem;
}

#modal-cart table tr>td:last-child {
    padding-right: 2rem;
}

/* Оформление четных строк таблицы товаров: */
#modal-cart table>:not(caption) tr:nth-child(even)>td:nth-child(2) {
    background: linear-gradient(to right, white, #f2f2f2);
}

#modal-cart table>:not(caption) tr:nth-child(even)>td:not(:first-child) {
    background-color: #f2f2f2;
}

/* Ячейки с изображениями товаров в корзине: */
#modal-cart table>:not(caption) tr>td:first-child {
    padding-left: 0;
}

/* Модальное окно поиска товаров (Modal Search) */

#modal-search .modal-title {
    margin-left: 1rem;
}

#modal-search form {
    padding-bottom: 2.5rem;
}

#modal-search p {
    margin-bottom: 1.6rem;
}

#modal-search-bar .form-control {
    border-color: #fb2e69;
}

/* Кнопка поиска: */
.btn-outline-danger {
    background-color: white;
    border-color: #dc3545;
    color: #dc3545;
    /* Радиус скругления уголков рамки. Если рамка не задана,
       то скругление также происходит и с фоном: */
    border-radius: 50%;
}

/* Кнопка поиска при наведении указателя мыши: */
.btn-outline-danger:hover {
    color: white;
    background-color: #fb2e69;
    border-color: #dc3545;
    transition: background-color 1s, color 0.3s;
}

/* Кнопка поиска при наведении указателя мыши: */
.btn-outline-danger:focus {
    box-shadow: 0 0 0 0.25rem rgb(255 76 104 / 25%);
}

/* Мобильное приложение (Mobile) */

#mobile p {
    color: #8f8f8f;
}

.QR-code-image {
    /* Максимальная ширина элемента: */
    max-width: 190px;
    /* Ширина элемента равна полной ширине родителя: */
    width: 100%;
}

/* Для того, чтобы изображение со смартфоном занимало всю ширину родителя: */
.mobile-image {
    /* Тип элемента - блочный: */
    display: block;
    /* Выравнивание по центру для того, чтобы изображение располагалось по середине
       родителя и не прилипало ни к какому краю, а также обнуление отступов сверху
       и снизу: */
    margin: 0 auto;
    /* Ширина элемента равна полной ширине родителя: */
    width: 100%;
}

/* Отзывы клиентов (Customer Reviews Section) */

/* Минимальная высота контента карусели задаётся для того, чтобы высота страницы не изменялась при прокрутке карусели: */

.carousel-item {
    min-height: 545px;
}

/* Текст отзыва: */
.review-text {
    line-height: 1.5;
}

/* Фотография клиента: */
.review-image {
    /*max-width: 120px;*/
    min-width: 40px;
    /* Радиус скругления уголков рамки. Если рамка не задана,
       то скругление также происходит и с фоном: */
    border-radius: 50%;
    margin: 20px;
}

/* О нас (Features Section) */

.feature-title {
    font-size: 1.5rem;
}

.feature-box {
    padding: 2rem 5%;
}

#features p {
    color: #8f8f8f;
}

.icon {
    color: #ff4c68;
    transition: color 0.3s;
    /* Внешний отступ от текста, располагающегося ниже: */
    margin-bottom: 1rem;
}

.icon:hover {
    color: #fb195a;
}

/* Каталог товаров (Catalog Section) */

#catalog {
    /* Внутренние отступы в контейнере каталога. Отступы сверху и снизу
       задаются в единицах, равных корневому (базовому) значению font-size: */
    padding: 3rem 0;
}

.catalog-column {
    /* Горизонтальное выравнивание текста (или строчных элементов): */
    text-align: left;
}

/* Тень карточки продукта: */
.product-card {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.07);
    transition: box-shadow 0.3s ease-out;
}

/* Тень карточки продукта при наведении указателя мыши: */
.product-card:hover {
    box-shadow: 0 14px 30px -15px rgba(0, 0, 0, 0.75);
}

.product-image a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    padding: 15px;
}

/* Адаптация изображений товаров под размеры родительского блока: */
.product-image img {
    max-width: 100%;
    max-height: 100%;
}

.product-details {
    padding: 15px;
}

.product-details p {
    color: #8f8f8f;
}

.catalog-title {
    font-weight: 500;
    /* Показывать элемент как блочный: */
    display: block;
    /* Максимальная высота блока с названием: */
    height: 60px;
    /* Скрывать часть названия, не помещающуюся в блок: */
    overflow: hidden;
}

.product-details p {
    font-size: 0.9rem;
    margin-bottom: 20px;
    /* Максимальная высота блока с описанием: */
    height: 45px;
    /* Скрывать часть описания, не помещающуюся в блок: */
    overflow: hidden;
}

.product-details-bottom {
    border-top: 2px solid #e2e2e2;
    padding-top: 15px;
    /* Скрывать текст, не помещающийся в блок: */
    overflow: hidden;
}

.product-price {
    font-size: 1.1rem;
    font-weight: 600;
    color: #ff4c68;
}

.product-price small {
    text-decoration: line-through;
    font-weight: 400;
    color: #8f8f8f;
    margin-right: 5px;
}

.product-links a {
    font-size: 1.3rem;
    margin-left: 10px;
}

/* Скидки (Discount section) */

#discounts .container-fluid {
    /* Горизонтальное выравнивание текста (или строчных элементов): */
    text-align: left;
}

#discounts .container-fluid:first-of-type {
    padding-bottom: 0.2rem;
}

#discounts .container-fluid:last-of-type {
    padding-top: 0.2rem;
}

#discounts h1 {
    text-align: center;
}

#discounts strong {
    color: #555555;
}

.element-3d {
    /* Позиционирование блока устанавливается относительно
       его исходного места: */
    position: relative;
    /* Форма курсора, когда он находится в пределах элемента - указатель: */
    cursor: pointer;
    /* Промежуток времени, в течение которого должен осуществляться
       переход, т.е. время, за которое одно значение свойства переходит
       (анимируется) в другое. */
    transition: 1s ease-in-out;
    /* Дочерние элементы будут отображаться в 3D-пространстве: */
    transform-style: preserve-3d;
}

/* Элемент с классом element-3d, который находится внутри элемента с классом
   container-3d (вне зависимости от уровня вложенности), над которым
   проходит указатель мыши: */
.container-3d:hover .element-3d {
    /* Трансформация - поворот элемента на 180 градусов относительно оси y
       (вертикали): */
    transform: rotateY(180deg);
    /* Таким образом, поворот будет производиться при наведении указателя
       мыши. */
}

.discount-card {
    /* Если содержимое блочного элемента целиком не помещается в него
       и выходит за пределы установленной высоты и ширины, то отображается
       только та область содержимого, которая находится внутри элемента,
       остальное же будет скрыто: */
    overflow: hidden;
    /* Абсолютное позиционирование блока:
       1. Элемент выпадает из потока. Другие элементы отображаются на веб-странице,
          словно абсолютно позиционированного элемента и нет.
       2. Сжимается под содержимое.
       3. Участвует в «наслаивании».
       4. Гибкая модель позиционирования. Положение элемента задается свойствами
          left, top, right и bottom.
       5. Свойства задания координат ведут себя по-другому. На положение влияет
          значение свойства position родительского элемента. Так, если у родителя
          значение position установлено как static или родителя нет, то отсчет
          координат ведется от края окна браузера. Если у родителя значение
          position задано как fixed, relative или absolute, то отсчет координат
          ведется от края родительского элемента. */
    position: absolute;
    /* Положение элемента. Поскольку у родителя div.element-3d значение position
       задано как relative, то отсчет координаты top ведется от верхнего края
       родительского элемента до верхнего края дочернего элемента: */
    top: 0;
    /* Аналогично, отсчет координаты left ведется от левого края родительского
       элемента до левого края дочернего элемента: */
    left: 0;
    /* Скрытие задней поверхности элемента, которая является зеркальным отражением
       его передней поверхности, делает элемент невидимым, когда он повёрнут от
       пользователя, например, при его вращении относительно горизонтальной или
       вертикальной оси в трёхмерном пространстве. */
    backface-visibility: hidden;
    /* Радиус скругления уголков рамки. Если рамка не задана,
       то скругление также происходит и с фоном: */
    border-radius: 20px;
}

.discount-card-back {
    /* Трансформация - поворот элемента на 180 градусов относительно оси y
       (вертикали): */
    transform: rotateY(180deg);
}

/* Для того, чтобы изображение занимало всю ширину родителя: */
#discounts .container-3d img {
    /* Тип элемента - блочный: */
    display: block;
    /* Максимальная ширина элемента равна полной ширине родителя: */
    max-width: 100%;
}

#discounts form {
    max-width: 600px;
    margin: 2rem auto 0;
}

#discounts .form-note {
    color: #8f8f8f;
}

.asteriskField {
    color: #ff4c68;
}

/* Контакты (Contacts Section) */

#contacts {
    text-align: left;
}

#contacts .container {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

#contacts strong {
    color: #555555;
}

.social-list, .store-info {
    list-style-type: none;
}

.social-list li i {
    margin-right: 2px;
}

.social-list li i.fa-envelope {
    margin-right: 0px;
}

.social-list li i.fa-phone {
    margin-right: 6px;
}

/* Изображение вывески: */
#contacts img {
    /* Тип элемента - блочный: */
    display: block;
    /* Выравнивание по центру для того, чтобы изображение располагалось по середине
       родителя и не прилипало ни к какому краю, а также обнуление отступа снизу: */
    margin: 1rem auto 0;
    /* Ширина элемента: */
    /* width: 150px; */
    /* Радиус скругления уголков рамки. Если рамка не задана,
       то скругление также происходит и с фоном: */
    border-radius: 10px;
}

/* Тень карты: */
#contacts iframe {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.07);
    transition: box-shadow 0.3s ease-out;
}

/* Тень карты при наведении указателя мыши: */
#contacts iframe:hover {
    box-shadow: 0 14px 30px -15px rgba(0, 0, 0, 0.75);
}

/* Подвал (Footer Section) */

#footer.white-section {
    background: linear-gradient(to bottom, #f2f2f2 0px, white 5px 15px);
}

#footer .container-fluid {
    padding: 0 7%;
}

.social-icon {
    margin: 20px 10px;
}

/* При высоте окна просмотра браузера, меньшей, чем 600px, подвал удаляется
   из документа, а шапка уменьшается по высоте за счет уменьшения логотипа
   и отступов вокруг него.
   Это ограничение накладывается для того, чтобы в окнах просмотра браузера высотой
   от 480px вместе с шапкой страницы могла разместиться карточка продукта. */

@media (max-height: 600px) {
    #footer {
        display: none;
    }

    .navbar-brand {
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;
    }

    .navbar-brand img {
        height: 35px;
        width: 46px;
    }

    /* Компенсация высоты шапки, скрывающей контент, изменяется: */
    main>section:first-of-type {
        margin-top: 63px;
    }

    /* Компенсация высоты подвала, скрывающего контент, больше не требуется: */
    main>section:last-of-type {
        margin-bottom: 0;
    }
}

/* Данные стили применяются вне зависимости от размера окна просмотра браузера.
   Фактически, они будут применяться только для устройств с шириной окна просмотра
   менее 350px. Для больших значений ширины окна просмотра эти стили будут
   переопределяться медиа-запросами. */

/* Логотип смещается вправо так, чтобы располагаться ровно
   над пунктами выпадающего меню. */
.navbar-brand {
    padding-left: 12px;
}

#modal-cart .modal-body {
    padding-left: 0;
}

/* Размер шрифта в первой строке таблицы товаров: */
#modal-cart table>:not(caption) tr:first-child {
    font-size: 1rem;
}

/* Ограничения на размер изображений товаров в корзине: */
#modal-cart img {
    max-width: 38px;
    max-height: 38px;
}

/* Внутренние отступы в ячейках таблицы товаров: */
#modal-cart .table> :not(caption)>tr>td {
    padding-left: 0.15rem;
    padding-right: 0.15rem;
}

/* Ячейки с изображениями товаров в корзине: */
#modal-cart table>:not(caption) tr>td:first-child {
    padding-left: 0;
    padding-right: 0;
}

#modal-search .modal-body {
    padding: 0.5rem;
}

/* Размер шрифта отзыва. */
.review-text {
    font-size: 1.2rem;
}

/* Фотография клиента: */
.review-image {
    width: 15%;
}

/* Размер шрифта заголовков секций. */
.section-heading {
    font-size: 2rem;
}

.container-3d {
    /* Ширина элемента: */
    width: 220px;
    /* Высота элемента: */
    height: 139px;
}

/* Каскадное применение стилей в зависимости от ширины окна просмотра браузера.
   Стили задаются посредством медиа-запросов через минимальную ширину области
   просмотра, начиная от маленьких значений и заканчивая большими.
   При ширине окна просмотра браузера меньшей, чем small (576 px): */
@media (min-width: 350px) {
    #modal-cart .modal-body {
        padding-left: 1rem;
    }

    /* Ограничения на размер изображений товаров в корзине: */
    #modal-cart img {
        max-width: 60px;
        max-height: 60px;
    }

    #modal-search .modal-body {
        padding: 1rem;
    }

    /* Максимальная ширина изображения со смартфоном: */
    .mobile-image {
        max-width: 350px;
    }

    .container-3d {
        /* Ширина элемента: */
        width: 300px;
        /* Высота элемента: */
        height: 189px;
        /* Внешние отступы: */
        margin: 1rem 15px;
    }
}

/* При ширине окна просмотра браузера меньшей, чем medium (767px): */
@media (min-width: 576px) {

    /* Увеличивается размер шрифта в первой строке таблицы товаров: */
    #modal-cart table>:not(caption) tr:first-child {
        font-size: 1.1rem;
    }

    /* Увеличиваются внутренние отступы в ячейках таблицы товаров: */
    #modal-cart .table> :not(caption)>tr>td {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    #modal-search .modal-body {
        padding: 2rem;
    }

    /* Увеличивается размер шрифта отзыва. */
    .review-text {
        font-size: 1.5rem;
    }

    /* Фотография клиента: */
    .review-image {
        width: 100px;
    }

    /* Увеличивается размер шрифта заголовков секций: */
    .section-heading {
        font-size: 2.5rem;
    }

    .container-3d {
        /* Ширина элемента: */
        width: 480px;
        /* Высота элемента: */
        height: 303px;
        /* Внешние отступы: */
        margin: 1.5rem 15px;
    }
}

/* При ширине окна просмотра браузера меньшей, чем large (992px): */
@media (min-width: 768px) {

    /* Ограничения на размер изображений товаров в корзине: */
    #modal-cart img {
        max-width: 100px;
        max-height: 100px;
    }

    /* Размер шрифта отзыва: */
    .review-text {
        font-size: 1.8rem;
    }

    /* Фотография клиента: */
    .review-image {
        width: 120px;
    }

    .container-3d {
        /* Ширина элемента: */
        width: 640px;
        /* Высота элемента: */
        height: 403px;
        /* Внешние отступы: */
        margin: 2rem 15px;
    }
}

/* При ширине окна просмотра больше, чем large (992px): */
@media (min-width: 992px) {

    /* Логотип располагается у левого у края родителя. */
    .navbar-brand {
        padding-left: 0;
    }

    #modal-search .modal-body {
        padding: 2.5rem;
    }

    /* Максимальная ширина изображения со смартфоном: */
    .mobile-image {
        max-width: 410px;
    }

    .container-3d {
        /* Ширина элемента: */
        width: 720px;
        /* Высота элемента: */
        height: 454px;
        /* Внешние отступы: */
        margin: 3rem 15px;
    }
}

/* Медиа-запрос управляет выводом страницы на устройство «Принтер»: */
@media print {

    /* Шапка, подвал и кнопки прокрутки карусели удаляются
       из печатаемого документа: */
    #title, #footer, button.carousel-control-prev, button.carousel-control-next {
        display: none;
    }

    /* Компенсация высоты шапки, скрывающей контент, больше не требуется: */
    main>section:first-of-type {
        margin-top: 0;
    }

    /* Компенсация высоты подвала, скрывающего контент, больше не требуется: */
    main>section:last-of-type {
        margin-bottom: 0;
    }

    .container-fluid {
        /* Внутренние отступы в контейнере уменьшаются: */
        padding: 2rem;
    }

    /* Максимальная ширина изображения со смартфоном: */
    .mobile-image {
        max-width: 200px;
    }

    /* Минимальная высота контента карусели сбрасывается, т.к. при печати нет прокрутки: */
    .carousel-item {
        min-height: auto;
    }

    /* Автоматическое добавление разрыва страницы до/после определенных элементов
       при необходимости: */
    section, .catalog-column, .product-card {
        page-break-before: auto;
        page-break-after: auto;
    }
}